<nav class="navbar navbar-inverse">
<div class="container-fluid">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">
			<span class="glyphicon glyphicon-music"></span>
			Audiophile Dashboard
		</a>
	</div>
</div>
</nav>