<meta charset="UTF-8">
<title>Songspector - lyrics and videos of your currently playing track</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/darkly/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">

<script>
function goToUser() {
  location.href = "/" + document.getElementById("username").value;
}
</script>