<meta charset="UTF-8">
<title>Simple Last.fm Node App!</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/darkly/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">