<div class="container-fluid">
  <nav class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><strong><span class="glyphicon glyphicon-music"></span> SONGSPECTOR</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--<ul class="nav navbar-nav navbar-right">
        <li>
          <a href="http://www.last.fm/api/auth/?api_key=fe71acb5ea15cc92ba976ae34afd9beb&cb=http://songspector-omnichronous.rhcloud.com/" class="" target="blank">Sign into Last.fm</a>
        </li>
      </ul>-->
      <form action="javascript:goToUser();" class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" id="username" placeholder="Last.fm username">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">Go</button>
            </span>
          </div><!-- /input-group -->
        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </nav>
</div><!-- /.container-fluid -->