<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="container-fluid">
      <div class="row">
        <% include ../partials/master-caution %>
        
        <div class="col-sm-6 col-md-6 col-lg-6">
          <% include ../partials/videos %>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <% include ../partials/lyrics %>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>